<table class="table">
  <tr>
    <th class="text-center"><%= sort_link(:rank, '排名') %></th>
    <th><%= sort_link(:stock_code, '代號') %></th>
    <th><%= sort_link(:stock_name, '名稱') %></th>
    <th><%= sort_link(:opening_price, '開盤價') %></th>
    <th><%= sort_link(:highest_price, '最高價') %></th>
    <th><%= sort_link(:lowest_price, '最低價') %></th>
    <th><%= sort_link(:ytd_closing_price, '昨收盤') %></th>
    <th><%= sort_link(:closing_price, '今收盤') %></th>
    <th><%= sort_link(:turnover, '成交量') %></th>
    <th><%= sort_link(:change, '漲跌') %></th>
    <th><%= sort_link(:change_range, '漲跌幅') %></th>
  </tr>

  <% @stocks.each do |stock| %>
    <tr>
      <td class="text-center"><%= stock.rank %></td>
      <td><%= stock.stock_code %></td>
      <td><%= stock.stock_name %></td>
      <td><%= stock.opening_price %></td>
      <td><%= stock.highest_price %></td>
      <td><%= stock.lowest_price %></td>
      <td><%= stock.ytd_closing_price %></td>
      <td><%= stock.closing_price %></td>
      <td><%= number_with_delimiter(stock.turnover, :delimiter => ',') %></td>
      <%= add_class(stock.change) %>
      <td><%= stock.change_range %>%</td>
    </tr>
  <% end %>
</table>
